<h1>Hi,</h1>
<p> Please find the details below of contacted user. </p>
<p> Name: <%= @contact.first_name %> <%= @contact.last_name %> </p>
<p> Email: <%= @contact.email %></p>
<p> Phone Number: <%= @contact.phone_number %></p>
<p> Message: <%= @contact.message %></p>
<p> Thank you</p>
